body {
  background-color: #cfd8dc;
  font-family: Open Sans, sans-serif;
  color: #455a64;
  margin: 0px;
  display: flex;
}

header {
  background-color: #455a64;
  text-align: center;
  align-items: center;
  color: #ffffff;
  width: 50vw;
  display: flex;
  height: 100vh;
}

fieldset {
  border: 0;
  padding: 1em;
  display: block;
  width: 15em;
  margin: auto;
}

legend {
  display: none;
}

input {
  width: 15em;
  font-size: 1.5em;
  margin: .7em;
  clear: both;
}

input::placeholder {
  color: #C0C2C4;
}

label {
  display: none;
}

button {
  width: 19em;
  font-size: 1.2em;
  height: 2em;
  margin: .7em;
  border: 0;
  background: #ffc107;
  font-weight: 800;
  color: #ffffff;
}

button:hover {
  background-color: #ffd773;
}

button:disabled {
  background-color: #cccccc;
}

h1 {
  font-size: 3.2em;
  margin: auto;
  font-weight: 800;
}

h1 img {
  height: .8em;
  width: auto;
}

h2 {
  font-weight: 800;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: .3em;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  margin: 0;
  margin-bottom: .5em;
  padding: 1em 0;
  border-top: 1px solid #cfd8dc;
  border-bottom: 1px solid #cfd8dc;
  display: block;
}

h3 a {
  color: #607d8b;
}

a {
  font-weight: 400;
  color: #455a64;
  text-decoration-color: #CDD6DB;
}

a:hover {
  font-weight: 800;
  text-decoration-color: #ffc107;
  color: #455a64;
}

p {
  display: inline-block;
  margin: auto;
  margin-top: .3em;
  width: 50%;
}

main {
  display: inline-block;
  color: #455a64;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
}

.website-box {
  margin: 1em;
  border: 1px solid #607d8b;
  padding: .5em 1em;
  background-color: #ffffff;
}

.read {
  background-color: #f2f4f4;
  text-decoration-color: #cfd8dc;
}

.read-delete-links{
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.read-link {
  text-align: left;
}

.read .read-link a {
  color: #f05a28;
  font-weight: 800;
  text-decoration: none;
}

.read .read-link a:hover {
  color: #455a64;
  font-weight: 800;
  text-decoration: underline;
}

@media (max-width: 900px) {
  body {
    font-size: .8em;
    display: flex;
    flex-direction: column;
  }

  header {
    color: #ffffff;
    width: 100%;
    height: 33vh;
  }

  main {
    width: 100%;
    height: 67vh;
    overflow-y: scroll;
  }
}

@media (max-width: 400px) {
  body {
    font-size: .6em;
  }
}
